/.idea/java-chat.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
out/production/java-chat/main/resources/application.yml
/.idea/uiDesigner.xml
/.idea/.gitignore
/.idea/jsLibraryMappings.xml
/.idea/webResources.xml
